$color-one: #008f8f;
$color-two: #19ffff;
$color-three: #00dbda;
$color-four: #8f3500;
$color-five: #db5100;
$color-six: #35654d;
$color-seven: #1c3629;

* {
  overflow: hidden;
}

.bg-1 {
  background-color: $color-one;
}

.bg-2 {
  background-color: $color-two;
}

.bg-3 {
  background-color: $color-three;
}

.bg-4 {
  background-color: $color-four;
}

.bg-5 {
  background-color: $color-five;
}

.bg-6 {
  background-color: $color-six;
}

.c-1 {
  color: $color-one;
}

.c-2 {
  color: $color-two;
}

.c-3 {
  color: $color-three;
}

.c-4 {
  color: $color-four;
}

.c-5 {
  color: $color-five;
}

.c-6 {
  color: $color-six;
}

.navbar {
  height: 100vh;
  border-width: 5px;
  border-right-style: solid;
  overflow-x: auto;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  color: black;
  font-family: cursive;
  font-size: 1rem;
  -webkit-text-stroke: 1px $color-five;
}

.player {
  border-width: 3px;
  border-style: ridge;
  border-radius: 1rem;
  border-color: $color-five;
  -webkit-filter: drop-shadow(0px 0px 6px $color-five);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  color: black;
  font-family: cursive;
  font-size: 2rem;
  -webkit-text-stroke: 1px $color-five;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn {
  background-color: $color-five;
  border-color: $color-two;
  color: $color-one;
  font-weight: bold;
}

.tabletop {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: $color-seven;
  background-size: 16px 16px;
}

/* card size ratio is 5:7 */
.card {
  height: 210px;
  width: 150px;
}

.card-back {
  background: url("./static/img/CB5.png");
  height: 210px;
  width: 150px;
}

// position - top left
.p-tl {
  position: absolute;
  top: 1%;
  left: 8%;
  padding-top: 1rem;
}

// position - top center
.p-tc {
  position: absolute;
  top: 1%;
  left: 53%;
  transform: translateX(-50%);
  padding-top: 1rem;
}

// position - top right
.p-tr {
  position: absolute;
  top: 1%;
  left: 98%;
  transform: translateX(-100%);
  padding-top: 1rem;
}

// position - middle left
.p-ml {
  position: absolute;
  top: 48%;
  left: 8%;
  transform: translateY(-50%);
  padding-top: 1rem;
}

// position - middle center
.p-mc {
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translate(-50%, -50%);
  padding-top: 1rem;
}

// position - middle right
.p-mr {
  position: absolute;
  top: 48%;
  left: 98%;
  transform: translate(-100%, -50%);
  padding-top: 1rem;
}

// position - bottom left
.p-bl {
  position: absolute;
  top: 100%;
  left: 8%;
  transform: translateY(-100%);
  padding-top: 1rem;
}

// position - bottom center
.p-bc {
  position: absolute;
  top: 100%;
  left: 53%;
  transform: translate(-50%, -100%);
  padding-top: 1rem;
}

// position - bottom right
.p-br {
  position: absolute;
  top: 100%;
  left: 98%;
  transform: translate(-100%, -100%);
  padding-top: 1rem;
}
