@import 'colorScheme';

.c-1 {
    color: $color-one;
  }
  
  .c-2 {
    color: $color-two;
  }
  
  .c-3 {
    color: $color-three;
  }
  
  .c-4 {
    color: $color-four;
  }
  
  .c-5 {
    color: $color-five;
  }
  
  .c-6 {
    color: $color-six;
  }